html{
    background-color: #fff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*Navigasjon header*/

header nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}

header nav ul li{
    text-align: center;
/*Kode for display:inline-block er hentet fra w3schools.com, se referanseliste CSS punkt 3.*/
    display: inline-block;
    padding: 5px;
}
.logo img{
    height: 100px;
    width: 100px;
    margin: 0;   
}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

header article a{
    text-decoration: none;
}
.home{
    font-weight: 600;
/*Kode for text-decoration-line er hentet fra w3schools.com, se referanseliste CSS punkt 4.*/
    text-decoration-line: underline;
/*Kode for text-decoration-color er hentet fra w3schools.com, se referanseliste CSS punkt 5.*/
    text-decoration-color: #e6bd43;
}

.contact{
    font-weight: 600;
    padding: 5px;
    background-color: #e6bd43;
    color: black;
}
/*Navigasjon header slutt*/

.read-more{
    text-align: center;
    padding: 5px;
    background-color: #e6bd43;
    font-weight: 600;
    font-size: 20px;
    color: black;
/*Kode for display:inline-block er hentet fra w3schools.com, se referanseliste CSS punkt 3.*/
    display: inline-block;
}

/*Section 1 index*/
.section1{
    text-align: center;
}
h1{
    margin: 0;
    font-size: 40px;
}

.section1 article{
    margin-top: 20px;
    margin-bottom: 40px;
}

.article1-index{
margin-top: 20px;
text-align: center;
background-color: lightgray;
padding-bottom: 50px;
padding-top: 50px;
width: 100%;
}
.article1-index h1{
    padding-top: 20px;
}
.article1 p{
    width: 500px;
    margin: auto;
    margin-bottom: 20px;  
}
/*Section 1 slutt*/

/*Engagin subheading*/
.section2{
border: 2px solid;
padding-bottom: 30px;
}

article img{
margin-left: 490px;
}

.article2-index{
    margin-top: 30px;
}

.article4 p{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;  
}

.read{
    border: 2px solid;
    width: 200px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

/*Engaging subheading SLUTT*/

.article3-index{
    padding-top: 20px;
}

.article3-index ul p{
    width: 150px;
}

.article3-index ul li{
/*Kode for CSS-Flex er hentet fra https://lms.webtricks.blog, se referanseliste punkt 5.*/
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 300px;
}

.article3-index ul li a{
/*Kode for CSS-Flex er hentet fra https://lms.webtricks.blog, se referanseliste punkt 5.*/
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 18px;
}

.article3-index ul{
/*Kode for CSS-Flex er hentet fra https://lms.webtricks.blog, se referanseliste punkt 5.*/
    display: flex;
    margin-left: 180px;
}

h3{
    text-align: center;
}

main section article a{
    text-decoration: none;
    color: black;
}
/*Article2 index SLUTT*/

/*Portfolioside*/

.article1-portfolio{
    height: 200px;
    text-align: center;
    background-color: lightgray;
    width: 100%;
}
.article1-portfolio h1{
    padding-top: 60px;
}

.section4 h1{
    font-size: 16px;
    font-weight: 100;
}

.article2-portfolio{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid;
    color: #e6bd43;
}
.article2-portfolio h2{
    color: black;
}
.article3-portfolio ul{
    list-style: none;
/*Kode for CSS-Flex er hentet fra https://lms.webtricks.blog, se referanseliste punkt 5.*/
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.article3-portfolio ul li{
    margin-left: 20px;
    border: 1px solid;
    padding: 5px;
}
.branding{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid;
    color: #e6bd43;
}
.branding h2{
    color: black;
}
.branding h3{
    color: black;
    border: 0;
}
.portfolio-img1{
/*Kode for "display: inline-flex" er hentet fra www.w3schools.com, se referanseliste CSS punkt 6.*/
    display: inline-flex;
}
.portfolio-img1 article img{
    margin-left: 32px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
}
.branding3 h3{
    text-align: left;
    margin-left: 100px;
}
.branding3 article img{
    margin-left: 32px;
    width: 350px;
    height: 350px;
}
.development{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid;
    color: #e6bd43;
}
.development h2{
    color: black;
}
.portfolio-img2{
/*Kode for "display: inline-flex" er hentet fra www.w3schools.com, se referanseliste CSS punkt 6.*/
    display: inline-flex;
}
.portfolio-img2 article img{
    margin-left: 32px;
    margin-top: 20px;
    height: 350px;
    width: 350px;
}

.clients{
    background-color: #e6bd43;
    height: 300px;
}
.clients h3{
    padding-top: 50px;
    font-size: 30px;
}

.clients ul{
    list-style: none;
/*Kode for CSS-Flex er hentet fra https://lms.webtricks.blog, se referanseliste punkt 5.*/
    display: flex;
    margin-left: 450px;
}
.clients ul li{
    margin-left: 20px;
}
.clients ul li img{
    height: 100px;
}

/*ABOUT*/
/*Kontaktskjema-about*/
.skjema{
    background-color: #efefef;
    padding-left: 100px;
}
.skjema h3{
    font-size: 30px;
    padding-right: 100px;
    padding-top: 50px;
    margin-top: 0; 
}
.skjema p{
    font-size: 20px;
    font-weight: 600;
}
.skjema input{
    border: 0;
    width: 400px;
    height: 20px;
}

#name{
    margin-top: 5px;
    margin-bottom: 5px;
}
#text{
    margin-top: 5px;
    margin-bottom: 5px;
}
#subject{
    margin-top: 5px;
    margin-bottom: 5px;
}
.skjema textarea{
    height: 150px;
    width: 400px;
    border: 0;
}
.skjema button{
    padding: 10px;
    font-weight: 600;
    background-color: #e6bd43;
    border: 0;
    margin-bottom: 30px;
}
.contact-information{
    background-color: #efefef;
    margin: 0;
}
/*Skolens adresse*/
.kontakt{
    background-color: #efefef;
}
.kontaktinfo{
    padding-left: 100px;
    width: 250px;
}
.kontaktinfo h3{
    text-align: left;
}
.kontaktinfo a{
    text-decoration: underline;
    color: blue;
}
/*SKOLENS ADRESSE SLUTT*/

.section4{
    margin-top: 20px;
    height: 350px;
    background-color: lightgrey;
}
.section4 article{
    padding: 20px;
    width: 600px;
    height: auto;
    background-color: #efefef;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
}
.section4 article h2{
    margin-top: 0;
    font-weight: inherit;
    font-size: 16px;
}
.company{
    font-weight: 600;
}
.section4 article button{
    padding: 10px;
    font-weight: 600;
    background-color: #e6bd43;
    border: 0;
}
.about-services{
    text-align: center;
    font-size: 30px;
}

/*FOOTER*/
footer article{
    text-align: center;
    padding-top: 10px;
}

footer article h4{
    margin-bottom: 10px;
}

footer article button{
    border: 0;
    padding: 10px;
    background-color: #e6bd43;
    font-weight: 500;
}
footer article input{
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
}

footer nav{
/*Kode for CSS-Flex er hentet fra https://lms.webtricks.blog, se referanseliste punkt 5.*/
    display: flex;
    flex-direction: column;
}

footer p{
    color: #fff;
/*Kode for display:inline-block er hentet fra w3schools.com, se referanseliste CSS punkt 3.*/
    display: inline-block;
    margin: 60px;
    margin-left: 150px;
    font-weight: 600;
    
}

#logo-footer{
    float: left;
    width: 150px;

}
#logo-footer img{
    height: 90px;
    width: 90px;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 25px;

}

footer nav a{
    color: #fff;
    text-decoration: none;
}

footer nav ul li{
    list-style: none;
    margin-bottom: 6px;
    margin-right: 20px;
    text-align: center;
/*Kode for display:inline-block er hentet fra w3schools.com, se referanseliste CSS punkt 3.*/
    display: inline-block;
    padding: 5px;
    font-size: 40px;
}

footer nav ul{
    float: right;
    margin: 40px;
    margin-left: 0;
    padding-left: 0;
}

.footer1{
    background-color: #efefef;
}

.footer2{
    background-color: #252525;
}

.footer-about{
    padding-top: 0;
}
.footer-about img{
    margin-left: 0;
    width: 100%;
}
/*FOOTER SLUTT*/

















