html{
    background-color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*Navigasjon header*/

header nav ul{
    list-style: none;
    float: right;
    margin-right: 20px;
}
header nav ul li{
    margin-bottom: 6px;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.logo img{
    height: 100px;
    width: 100px;
    margin: 0;
    
}

header nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 10px;

}
header article a{
    text-decoration: none;
}
.home{
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-color: #e6bd43;
}

.contact{
    font-weight: 600;
    padding: 5px;
    background-color: #e6bd43;
    color: black;
}
/*Navigasjon header slutt*/

.read-more{
    text-align: center;
    padding: 5px;
    background-color: #e6bd43;
    font-weight: 600;
    font-size: 20px;
    color: black;
    display: inline-block;
}

/*Section 1 index*/
.section1{
    text-align: center;
    margin-top: 10px;
}
h1{
    margin: 0;
    font-size: 40px;
}

.article1-index{
height: auto;
text-align: center;
background-color: lightgrey;
padding-bottom: 10px;
padding-top: 10px;
width: 100%;
}

.article1 p{
    width: 500px;
    margin: auto;
    margin-bottom: 20px;  
}



/*Section 1 slutt*/

/*Engagin subheading*/

.section2{
border: 2px solid;
padding-bottom: 30px;
}

article img{
margin-left: 450px;
}

.article2-index{
    margin-top: 30px;
}

.article4 p{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;  
}

.read{
    border: 2px solid;
    width: 200px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

/*Engaging subheading SLUTT*/


.article3-index{
    padding-top: 20px;
}

.article3-index ul p{
    width: 150px;
}

.article3-index ul li{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 250px;
}

.article3-index ul li a{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: 18px;
}

.article3-index ul{
    display: flex;
    margin-left: 180px;
}

h3{
    text-align: center;
}


main section article a{
    text-decoration: none;
    color: black;
}
/*Article2 index SLUTT*/






/*Portfolioside*/

.article1-portfolio{
    height: 200px;
    text-align: center;
    background-color: lightgrey;
    padding-top: 10px;
    width: 100%;
}
.article1-portfolio h1{
    padding-top: 60px;
}

.article2-portfolio{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid;
    color: #e6bd43;
}
.article2-portfolio h2{
    color: black;
}
.article3-portfolio ul{
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.article3-portfolio ul li{
    margin-left: 20px;
    border: 1px solid;
    padding: 5px;
}
.branding{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid;
    color: #e6bd43;
}
.branding h2{
    color: black;
}
.branding h3{
    color: black;
    border: 0;
}
.portfolio-img1{
    display: inline-flex;
}
.portfolio-img1 article img{
    margin-left: 32px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
}
.branding3 h3{
    text-align: left;
    margin-left: 100px;
}
.branding3 article img{
    margin-left: 32px;
    width: 350px;
    height: 350px;
}
.development{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 3px solid;
    color: #e6bd43;
}
.development h2{
    color: black;
}
.portfolio-img2{
    display: inline-flex;
}
.portfolio-img2 article img{
    margin-left: 32px;
    margin-top: 20px;
    height: 350px;
    width: 350px;
}



/*FOOTER*/

footer article{
    text-align: center;
    padding-top: 10px;
}

footer article h4{
    margin-bottom: 10px;
}

footer article button{
    border: 0;
    padding: 10px;
    background-color: #e6bd43;
    font-weight: 500;
}
footer article input{
    border: 0;
    padding: 10px;
    margin-bottom: 20px;
}

footer nav{
    display: flex;
    flex-direction: column;
}

footer p{
    color: white;
    display: inline-block;
    margin: 60px;
    margin-left: 150px;
    font-weight: 600;
    
}

#logo-footer{
    float: left;
    width: 150px;

}
#logo-footer img{
    height: 90px;
    width: 90px;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 25px;

}

footer nav a{
    color: white;
    text-decoration: none;
}

footer nav ul li{
    list-style: none;
    margin-bottom: 6px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    padding: 5px;
    font-size: 40px;
}

footer nav ul{
    float: right;
    margin: 40px;
    margin-left: 0;
    padding-left: 0;
}

.footer1{
    background-color: #ddd;
}

.footer2{
    background-color: black;
}

/*FOOTER SLUTT*/

















